.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

.legend {
  display: flex;
  justify-content: center;
  font-family: "Helevetica", sans-serif;
  font-size: 1vw;
  padding: 4px;
  border-radius: 50px;
  color: black;
}
  