* {
  scroll-behavior: smooth;
}

.app {
  min-height: 100vh;
  background-color: white;
  color: white;
  padding-top: 130px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}

.pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Helevetica", sans-serif;
  font-size: 2vw;
  padding: 4px;
  border-radius: 50px;
  color: black;
}

button{
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    border-radius: 10px;
  }

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
  button {
    padding: 10px 21px;
  }
}
